<div>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="footer-heading">VistaMart</h4>
                    <div class="footer-underline"></div>
                    <p>
                        Bienvenue sur VistaMart, votre destination en ligne pour des produits de qualité. Nous proposons une large gamme de produits allant de l'électronique à la mode, avec une expérience d'achat sans tracas.
                    </p>
                </div>
                <div class="col-md-3">
                    <h4 class="footer-heading">Liens rapides</h4>
                    <div class="footer-underline"></div>
                    <div class="mb-2"><a href="" class="text-white">Accueil</a></div>
                    <div class="mb-2"><a href="" class="text-white">À propos de nous</a></div>
                    <div class="mb-2"><a href="" class="text-white">Contactez-nous</a></div>
                    <div class="mb-2"><a href="" class="text-white">Blog</a></div>
                    <div class="mb-2"><a href="" class="text-white">Plan du site</a></div>
                </div>
                <div class="col-md-3">
                    <h4 class="footer-heading">Achetez maintenant</h4>
                    <div class="footer-underline"></div>
                    <div class="mb-2"><a href="" class="text-white">Collections</a></div>
                    <div class="mb-2"><a href="" class="text-white">Produits tendance</a></div>
                    <div class="mb-2"><a href="" class="text-white">Nouveaux arrivages</a></div>
                    <div class="mb-2"><a href="" class="text-white">Produits vedettes</a></div>
                    <div class="mb-2"><a href="" class="text-white">Mon panier</a></div>
                </div>
                <div class="col-md-3">
                    <h4 class="footer-heading">Nous contacter</h4>
                    <div class="footer-underline"></div>
                    <div class="mb-2">
                        <p>
                            <i class="fa fa-map-marker"></i> 123 Rue de l'E-Commerce, Paris, France - 75001
                        </p>
                    </div>
                    <div class="mb-2">
                        <a href="tel:+33890010000" class="text-white">
                            <i class="fa fa-phone"></i> +33 8 90 01 00 00
                        </a>
                    </div>
                    <div class="mb-2">
                        <a href="mailto:support@vistamart.com" class="text-white">
                            <i class="fa fa-envelope"></i> 
                            <span>support&commat;vistamart.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p class=""> &copy; {{ year }} - VistaMart | Web IT - E-commerce. Tous droits réservés.</p>
                </div>
                <div class="col-md-4">
                    <div class="social-media">
                        Restez connecté :
                        <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                        <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                        <a href="https://youtube.com"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
